#message_div
{
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: #80e040;
    border: 2px solid #40a020;
    color: #ffffff;
    font-family: sans-serif;
}

#entrance_div
{
    text-align: center;
    vertical-align: center;
}

.entrance_form
{
    text-align: center;
}

.entrance_table
{
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    background-color: #f0f0ff;
    border: 2px solid #8080ff;
}

ul
{
    list-style-type: none;
    padding-left: 10px;
    overflow: hidden;
    width: 100%; // for IE6's bug (see http://d.hatena.ne.jp/seto-san/20081221/1229841719 or etc.)
}

li
{
    padding: 0px 50px 20px;
    margin-left: 0px;
    background-repeat: no-repeat;
}

.prev
{
    background-color: #ffe0e0;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: #ffe0e0;
    font-family: sans-serif;
    border: 2px solid #ff8080;
    cursor: pointer;
}

#username
{
    color:       #8080e0;
    font-weight: bold;
    font-family: sans-serif;
}

.help
{
    background-color: #e0e0ff;
    margin: 5px;
    padding: 5px;
}

#datetime
{
    font-size: small;
    color: silver;
}

.deco_red
{
    color: red;
}

.deco_blue
{
    color: blue;
}

.deco_green
{
    color: green;
}

.deco_yellow
{
    color: yellow;
}

.deco_large
{
    font-family: sans-serif;
    font-size: x-large;
}

.deco_small
{
    font-size: x-small;
}
